[submodule "submodules/HyperaiX"]
	path = submodules/HyperaiX
	url = git@github.com:theGravityLab/HyperaiX
[submodule "submodules/Onebot"]
	path = submodules/Onebot
	url = git@github.com:theGravityLab/Onebot.Net
[submodule "submodules/duffet"]
	path = submodules/duffet
	url = git@github.com:ac682/duffet
